*{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
}
body{
    background-color:#00010F;;
    width: 100%;
    
}
header{
    display: flex;
    margin-top: 57px;}
    #header_img{ 
        margin-left: 291px;
        height: 41px;
    }
    p{
        height: 61px;
        
        margin-top: 10px;
        margin-right: 45px;

        font-size: 18px;
        font-weight: 400;
    }
    #header_1{
        margin-left: 5px; margin-right: 114px;
        font-size: 18px;
        font-weight: 600;
    }
    #header_8{
        margin-left: 59px; margin-right: 75px;
    }
.hdr_but{
    background-color: #F04451;
    box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
    border-radius: 15px;
    width: 180px; height: 61px;
    margin-top: -10px;
    border:none;
    font-size: 18px;
    font-weight: 400;
    }
.eclips{
    width: 45%;
    height: 45%;
    position: absolute;
    border-radius: 100%;
    opacity: 0.5;
    background: rgba(240, 68, 81, 0.50);
    filter: blur(250px);
    margin-left: 5%;
}
.cont{
    display: flex;
}
.slai{
    position: absolute;
    display:flex;
    flex-direction: column;
    gap:25px;
    margin-left: 70px;
    margin-top: 342px;
}
.poloski{
    opacity: 0;
}
.frame{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    margin-top: 80px;
    margin-left: 295px;

}
#kont{
    margin: 0 0 0 0;
    height: auto;
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 46px;
    font-weight: 600;
    line-height: 150%; /* 69px */
}
#t1{
    margin: 0 0 0 0;
    height: auto;
    color: #A2A2B9;
    text-align: center;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%; /* 25.6px */
}
#ssil{
    color: #FAFAFA;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    text-decoration-line: underline;
}
.seti{
    display: flex;
    gap: 25px;
}
@media (max-width:960px) {
    header{
        width: 100%;
        margin-left: -250px;}
        #header_2, #header_3, #header_4, #header_5, #header_6, #header_7{
            display: none;
        }
        #header_8{
            margin-left: 250px;
        }
        .poloski{
            opacity: 1;
            margin-top: -30px; margin-left: 80px;
        }
        .slai{
            display: none;
        }
        .eclips{
            width: 50%;
            height: 50%;
            filter: blur(150px);
        }
        #pod{
            font-size: 36px;
        }
        .frame{
            margin-left: 5%;
        }
        #krayd{
            width: 50px;
            height: 50px;
        }


}
@media (max-width:640px) {
    header{
        width: 100%;
        margin-left: -250px;}
        #header_2, #header_3, #header_4, #header_5, #header_6, #header_7{
            display: none;
        }
        #header_8{
            margin-left: 250px;
        }
        .poloski{
            opacity: 1;
            margin-top: -30px; margin-left: 80px;
        }
        .slai{
            display: none;
        }
        .eclips{
            width: 50%;
            height: 50%;
            filter: blur(150px);
        }
        #pod{
            font-size: 36px;
        }
        #t1{
            font-size: 24px;
        }
        #t3{
            font-size: 18px;
        }
        .frame{
            margin-left: 5%;
        }
        .syk{
            display: flex;
            flex-direction: column;
            gap: 50px;
            margin-left:68px ;
            margin-top: 174px;
        }
        .tests{
            display: flex;
            gap: 25px;
        }
        header{
            width: 100%;
            margin-left: -42%;}
            #header_2, #header_3, #header_4, #header_5, #header_6, #header_7,#header_8{
                display: none;
            }
            .hdr_but{
                display: none;
            }
            .poloski{
                opacity: 1;
                margin-top: -30px; margin-left: 45%;
            }

    }
    @media (max-width:360px) {
        header{
            width: 100%;
            margin-left: -75%;}
            #header_2, #header_3, #header_4, #header_5, #header_6, #header_7,#header_8{
                display: none;
            }
            .hdr_but{
                display: none;
            }
            .poloski{
                opacity: 1;
                margin-top: -30px; margin-left: 30px;
            }

                    #header_8{
                        margin-left: 250px;
                    }
                  
                    .slai{
                        display: none;
                    }
                    .eclips{
                        width: 50%;
                        height: 50%;
                        filter: blur(150px);
                    }
                    #pod{
                        font-size: 24px;
                    }
                    #t1,#t2{
                        font-size: 18px;
                    }
                    #t3{
                        font-size: 14px;
                    }
                    #t4{
                        font-size: 16px;
                    }
                    .frame{
                        margin-left: 5%;
                    }
                    .syk{
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        margin-left:5% ;
                        margin-top: 38px;
                    }
                    #ssil{
                        font-size: 14px;
                    }
                    .tests{
                        display: flex;
                        gap: 25px;
                    }
                    .cont{
                        display: flex;
                        flex-direction: column;
                    }
          }