*{
    margin: 0;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
    overflow: hidden;
}
body{
    background-color: #2f2a37;
}
header{
    display: flex;
    margin-top: 40px;
}
#header_img{ 
    margin-left: 291px; margin-top: 8px;
    width: 50px;
    height: 50px;
}
.header_p{
    height: 61px;
        
    margin-top: 20px;
    margin-right: 45px;

    font-size: 18px;
    font-weight: 400;
}
#header_1{
    margin-left: 5px; margin-right: 114px; margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
#header_8{
    margin-left: 59px; margin-right: 75px;
}
#header_button{
    background-color: #F04451;
    box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
    border-radius: 15px;

    width: 180px; height: 61px;
    border:none;

    font-size: 18px;
    font-weight: 400;
}
#media_img{
    opacity: 0;
}

#vec1{
    position: absolute;
    margin-left: 140px;
}
#vec2{
    position: absolute;
    margin: 700px 0 0 150px;
}
#vec3{
    position: absolute;
    margin-left: 1710px; margin-top: 50px;
}
#vec4{
    position: absolute;
    margin: 600px 0 0 700px;
}
main{
    margin-left: 403px; margin-top: 50px;}
    #main_p1{
        font-size: 250px;
        font-weight: 700;
        color: #2f2a37;
    }
    #main_p2{
        font-size: 96px;
        font-weight: 100;
        align-self: stretch;
    }
    #main_button{
        width: 331px; height: 61px;
        border-radius: 15px;
        background: #F04451;
        box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
        border: none;
        font-size: 18px;
        font-weight: 400;
        margin-top: 40px;
    }
    #courier_img{
        position: absolute;
        margin-top: -500px; margin-left: 100px;
    }

footer{
    opacity: 0.5;
    display: flex;
    align-items: end;
    position: absolute;
    right: 40px; bottom: 40px;
    gap: 10px;
}

@media(width: 960px){
    *{
        overflow: hidden;
    }
    
    header{
        margin-left: -250px;}
        #header_2, #header_3, #header_4, #header_5, #header_6, #header_7{
            display: none;
        }
        #header_8{
            margin-left: 150px;
        }
        #media_img{
            opacity: 1;
            margin-top: -30px; margin-left: 100px;
        }
    #courier_img{
        margin-left: 70px;
    }
    #vec1{  margin: 620px 0 0 50px; }
    #vec2{  opacity: 0; }
    #vec3{  opacity: 0; }
    #vec4{  margin: 600px 0 0 470px; }
    main{
        margin-left: 20px;
    }
    footer{ display: none;}

}
@media(width: 640px){
*{
    overflow: hidden;
}
header{  margin-left: -250px;  }
#header_img{
    width: 50px;
    position: absolute;
    left:-60px;
    margin-left: 70px;
}
#header_1{
    position: absolute;
    left: 70px; top: 60px;
}
.header_p, #header_button{
    display: none;
}
        
#media_img{
    opacity: 1;
    position: absolute;
    right: 10px;
    width: 50px; height: 50px;
}

#vec1{  margin: 600px 0 0 40px; }
#vec2{  opacity: 0; }
#vec3{  opacity: 0; }
#vec4{  opacity: 0; }
main{   margin-left: 20px;  }
#courier_img{
    margin-left: -26px; padding-top: 60px;
}
footer{ display: none;}
}


@media(width: 360px){
*{
    overflow: hidden;
}
#header_img{
    position: absolute;
    left: -280px; top: 30px;
}
#header_1{
    position: absolute;
    left: 70px; top: 30px;
}
.header_p, #header_button{ display: none; }
#media_img{
    opacity: 1;
    position: absolute;
    right: 20px;
    width: 50px; height: 50px;
}


#vec1{  opacity: 0; }
#vec2{  opacity: 0; }
#vec3{  opacity: 0; }
#vec4{  opacity: 0; }
footer{ display: none;}

main{
    margin-left: 20px;}
#main_p1{
    text-align: center;
        font-size: 150px;
}
#main_p2{
    text-align: center;
    font-size: 54px;
    font-weight: 100;
}
#courier_img{
    margin-left: -220px; padding-top: 610px;
    width: 493px;
    height: 394px;
    transform: rotate(15deg);
    flex-shrink: 0;
} }