*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.backg{
    width: 1920px;
    height: 1000px;
    display: flex;   
}
.mn{
    display: flex;
    flex-direction: column;
    width: 920px;
    height: 444px;
    padding: 50px 0px;
    justify-content: center;
    align-items: center;
    gap: 22px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: #272937;
    backdrop-filter: blur(12.5px);
    position: absolute;
    margin-top: -800px;
    margin-left: 500px;
}
.qwe{
    width: 294px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}
.qwe_t{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
.qwe_t_b{
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}
.qwe_t_m{
    width: 266px;
    color: #FFF;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    opacity: 0.75;
}
.nick_reg{
    display: flex;
    width: 294px;
    padding: 15px;
    align-items: flex-start;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-left: -5px;
}
.nick_reg_t{
    flex: 1 0 0;
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    background-color: #272937;
    border: 0;
}
.xdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}
.ssd{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.ssd_r{
    display: flex;
    width: 262px;
    padding: 19px 35px 21px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    background: #F04451;
    box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
}
.ssd_b{
    display: flex;
    width: 262px;
    padding: 19px 35px 21px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
}
.ssd_r_t{
    color: #FFF;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    letter-spacing: 0.72px;
}