*{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    line-height: normal;
}
body{
    background-color:#00010F;;
    width: 100%;
    
}
header{
    display: flex;
    margin-top: 57px;
}
    #header_img{ 
        margin-left: 291px;
        height: 41px;
    }
    p{
        height: 61px;
        
        margin-top: 10px;
        margin-right: 45px;

        font-size: 18px;
        font-weight: 400;
    }
    #header_1{
        margin-left: 5px; margin-right: 114px;
        font-size: 18px;
        font-weight: 600;
    }
    #header_8{
        margin-left: 59px; margin-right: 75px;
    }
.hdr_but{
    background-color: #F04451;
    box-shadow: 0px 4px 25px 0px rgba(240, 68, 81, 0.25);
    border-radius: 15px;
    width: 180px; height: 61px;
    margin-top: -10px;
    border:none;
    font-size: 18px;
    font-weight: 400;
    }
.eclips{
    width: 45%;
    height: 45%;
    position: absolute;
    border-radius: 100%;
    opacity: 0.5;
    background: rgba(240, 68, 81, 0.50);
    filter: blur(250px);
    margin-left: 5%;
}
.cont{
    display: flex;
}
.slai{
    position: absolute;
    display:flex;
    flex-direction: column;
    gap:25px;
    margin-left: 70px;
    margin-top: 342px;
}
.poloski{
    opacity: 0;
}
main{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    gap: 20px;
}
.dd{
    display: flex;
    flex-direction: row;
    z-index: 2;
}
.main_div_p{
    width: 255px;
    color: #FAFAFA;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
}
#main_p1{
    font-size: 46px;
    font-weight: 600;
    line-height: 150%; /* 69px */
}
#main_p2{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 554px;
}
#asd{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
}
ul{
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;
}
#qwe{
    color: #FFF;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    text-decoration-line: underline;
}
@media (max-width:960px) {
    main{
        margin-left: 0;
    }
    ul{
        gap: 10px;
    }
    #asd{
        margin-top: 0;
    }
    header{
        width: 100%;
        margin-left: -250px;
    }
    #header_2, #header_3, #header_4, #header_5, #header_6, #header_7{
        display: none;
    }
    #header_8{
        margin-left: 250px;
    }
    .poloski{
        opacity: 1;
        margin-top: -30px; margin-left: 80px;
    }
    .slai{
        display: none;
    }
}

@media (max-width:640px) {
    header{
        width: 100%;
        margin-left: -250px;
    }
    #header_2, #header_3, #header_4, #header_5, #header_6, #header_7{
        display: none;
    }
    #header_8{
        margin-left: 250px;
    }
    .poloski{
        opacity: 1;
        margin-top: -30px; margin-left: 80px;
    }
    .slai{
        display: none;
    } 
}
@media (max-width:360px) {
    header{
        width: 100%;
        margin-left: -75%;
    }
    #header_2, #header_3, #header_4, #header_5, #header_6, #header_7,#header_8{
        display: none;
    }
    .hdr_but{
        display: none;
    }
    .poloski{
        opacity: 1;
        margin-top: -30px; margin-left: 30px;
    }
    
    #header_8{
        margin-left: 250px;
    }
                      
    .slai{
        display: none;
    }
}